<style>
.starfootercon {
background-color:#2b2b2d;
height:300px;
padding: 20px 0px 20px 100px;
}

.starfooterlogo {
 width:100%;
}

.starfootercol{
 width:100%;
 color:white;
 height:200px;
 margin-top:10px;

}
.starfootercolumn{
width:15%;
float:left;
}
.starfootercopy{
width:100%;
color:white;
font-size:.9rem;
}

.footeranchor{
color: #68d3d3;
    line-height: 1.75;
    text-decoration: none;

}

</style>
<div class="starfootercon">
<div class="starfooterlogo">
<a href="https://www.beanz.com/us/en.html" target="blank"> <img src="/content/dam/starpage/beanz-by-breville-logo-white.svg"></a>
</div>
<div class="starfootercol">
<div class="starfootercolumn">
site <br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Shop Coffee </a><br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Our Roasters </a><br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Barista's Choice </a><br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Coffee Lowdown  </a><br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Our Story </a><br>

</div>
<div class="starfootercolumn">

Account <br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Roasters Control  </a><br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Center  </a><br>

</div>
<div class="starfootercolumn">

Support <br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Contact Us </a><br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Returns Policy </a><br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Promotional Terms and Conditions  </a><br>

</div>
<div class="starfootercolumn">

Follow Us <br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Facebook </a><br>
<a class="footeranchor" href="https://www.beanz.com/us/en.html" target="blank"> Instagram </a><br>
</div>
</div>
<div class="starfootercopy">
© 2022 Breville USA, Inc. All rights reserved. Terms of Use Privacy Policy Cookie Policy Social Responsibility Modern Slavery Act Site Map
</div>

</div>